/* Brent Marohnic 
    AVF 1211
    Full Sail University */

body {
	background-color: RGB(235,231,182); 
	border: 1px solid black;
}

hgroup {
	background-color: RGB(173,148,97);
	text-align: center;
	margin: 0% 0% 5% 0%;
	border: 1px solid black;
}

button {
	width: 90%;
	font-size: 1em;
	margin: 0% 5% 1em 5%;
}

#div1 {
	 float: left;
	 width: 30%;
	 margin: 0% 0% 5% 10%;
	 border: 1px solid black;
}

div h1 {
	font-size: 1em;
	background-color: RGB(222,201,132);
	color: white;
	margin: 0em 0.2em 1em 0.2em;
	text-align: center;
}

div a {
	width: 90%;
}

#div2 {
	float: right;
	width: 30%;
	margin: 0% 10% 5% 0%;
	border: 1px solid black;
}

#div3 {
	clear: both;
	width: 30%;
	margin: 5% 35% 0% 35%;
	border: 1px solid black;
}

ul {
	border: 2px solid black;
	background-color: black;
}

li {
	float: left;
	list-style: none;
	width: 30%;
	height: 15em;
	border: 2px solid black;
}

.ts {
	color: white;
	background-color: RGB(59,45,30)
}

.sub {
	background-color: RGB(222,201,132)
}


footer {
	clear: both;
	margin: 10em 0em 0em 0em;
	text-align: center;
	font-size: 1em;
	color: white;
}

footer p {
	 display:inline;
}


header button {
	font-size: 12pt;
}

header a {
	float: left;
	width: 10%;
}
